/* -- basic styles --*/
.hidden {
   display: none;
}

body {
   background-color: #272829;
}
/* ---- main nav ---- */

#main-nav button {
   width: 40px;
   height: 40px;
   background: url(../images/burger.svg) no-repeat center;
   margin-top: 25px;
   transition: all .5s ease;
   margin-bottom: 20px;
   border: 0;
}
 
#main-nav button.expanded {
   transform: rotate(90deg);
}
 
#burger-con {
   margin-top: 20px;
   margin-bottom: 20px;
   display: none;
}
 
#burger-con.slide-toggle {
   display: block;
}

#main-header {
   background-color: #272829;
   height: 90px;
   width: 100%;
}
 
#main-nav ul li a:hover {
   color: #1c6aef;
}

#main-nav ul {
   list-style: none;
   padding: 0;
   margin: 0;
}

#main-nav ul li a {
   display: block;
   padding: 10px 0 10px 0;
   text-align: center;
   color: #e4e4e4;
   font-family: 'Times New Roman', Times, serif;
}

#main-nav ul li {
   border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
   border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
   margin-bottom: 10px;
}

#logo {
   margin-top: 10px;
   margin-bottom: 10px;
   max-height: 70px;
}

#shopping-cart {
   height: 60px;
   margin-top: 15px;
}

#sticky-nav-con {
   width: 100%;
}

/* --- main styles --- */
.hide-n-seek {
   display: none;
}

.can-container {
   height: 400px;
   width: 200px;
   transform: rotate(20deg) translateX(200px);
}

.alt-can-container {
   height: 400px;
   width: 200px;
   transform: rotate(-10deg) translateX(200px) translateY(40px);
}

.text-container {
   background-color: rgb(210, 232, 255);
   padding: 40px;
   margin: 20px;
   margin-top: 100px;
   border: #000 5px solid;
   box-shadow: #000 15px 15px;
}

.note-tittle {
   margin-bottom: 20px;
}

.flavour-section {
   padding-top: 100px;
   padding-bottom: 100px;
}

/* --- contact --- */
#contact-hero-form {
   padding: 60px;
   margin-top: 40px;
}

#contact-hero-text {
   margin-top: 15px;
   margin-bottom: 25px;
}

#contact-hero-address p {
   margin-bottom: 20px;
   font-size: 14px;
   line-height: 22px;
}

#contact-hero-address {
   margin-bottom: 30px;
}

#contact-hero-address h3 {
   margin-bottom: 25px;
}

#contact-hero-form form {
   display: flex;
   flex-direction: column;
}

#contact-hero-form input, textarea {
   padding: 22px;
   border: 5px solid #000;
   box-shadow: #000 15px 15px;
   background-color: rgb(210, 232, 255);
   margin-bottom: 30px;
   font: inherit;
   width: auto;
}

#contact-hero-form textarea {
   height: 250px;
}

/* --send button-- */

#contact-hero-form button[type="submit"] {
   padding: 12px 28px;
   background: rgb(255, 184, 53);
   color: #fff;
   border: 5px solid #000;
   box-shadow: #000 15px 15px;
   transition: all 200ms ease-in;
   width: 150px;
   align-self: flex-end;
}
 
button:after {
   content: "Submit";
   color: #fff;
}

button:active:after {
   content: "Thank you";
}

#contact-hero-form button[type="submit"]:hover {
   background-color: rgb(255, 184, 53);
   border: 5px solid #000;
   box-shadow: none;
   animation: changeform;
   animation-duration: 0.5s;
   animation-timing-function: ease;
   animation-iteration-count: inherit;
}

@keyframes changeform {
   0% {transform: translateY(0);}
   100% {transform: translateY(10px) translateX(10px);}
}

/* -- end of send button-- */


.deals-checkbox {
   display: flex;
}

.deals-checkbox span {
   padding-left: 10px;
}

input[type="checkbox"]:checked + span::after {
   content: "✨📰✨";
}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
   .hide-n-seek {
      display: block;
   }

   #sticky-nav-con {
     position: sticky;
     top: 0px;
     z-index: 1;
   }

   #main-nav {
     margin-top: 4%;
     margin-bottom: 4%;
     padding-left: 30px;
   }

   #main-nav ul li a {
     display: inline;
   }

   #button {
     display: none;
   }

   #burger-con {
     display: block;
     font-size: 12px;
   }

   #burger-con ul li, #burger-con ul li:first-child {
     border: none;
     display: inline;
   }

   #burger-con ul li {
     margin-right: 10px;
   }

   #burger-con ul li:last-child {
     margin-right: 0px;
   }

   #logo {
     order: -1;
   }
 
}

/* ---Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {
   .hide-n-seek {
      display: block;
   }

   #main-nav {
     margin-top: 2%;
     margin-bottom: 2%;
     margin-left: 25px;
   }

   #burger-con {
     font-size: 16px;
     margin-top: 28px;
   }

   #burger-con ul li {
     margin-right: 25px;
   }

   #main-header {
     height: 100px;
   }
 
}